footer {
  background-color: #3a3846;
  border-radius: 190px 0 0 0;
  overflow: hidden;
}
footer .top {
  padding-top: 194px;
  background-image: url(../img/bg/bg_banner.jpg);
  height: 710px;
  box-sizing: border-box;
  background-position: center;
  text-align: center;
  background-size: cover;
}
footer .top h2 {
  font-size: 0;
  width: 178px;
  height: 75px;
  background-image: url(../img/svg/img_logo2.svg);
  margin: 0 auto;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .top p {
  text-align: left;
  width: 375px;
  margin: 0 auto;
  color: white;
  position: relative;
  font-size: 28px;
}
footer .top p::before{
  content:'"경상북도 울릉군 독도리 1-96"';
  color:#333;
  position: absolute;
}
footer .top p span{
  position: relative;
}
footer .top ul {
  position: relative;
  width: 615px;
  height: 200px;
  margin: 0 auto;
  color: white;
}
footer .top ul li {
  
}
footer .top ul li:nth-child(1){
  position: absolute;
  left: 2px;
  top:27px;
}
footer .top ul li:nth-child(2){
  position: absolute;
  right: 146px;
  bottom:-16px;
}
footer .top ul li::before,footer .top ul li::after{
  content: "";
  display: block;
  border-radius: 50%;
}
footer .top ul li::before{
 
  width: 6px;
  height: 6px;
  background-color: white;
  position: absolute;
  bottom: calc(20px - 3px);
  left: calc(20px - 3px);
}
footer .top ul li::after{
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.1);
  margin-top: 10px;
  animation-name: dngAni;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes dngAni{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  30%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0);
    opacity: 1;   
  }
}
footer .wrap {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto auto;
  color: white;
  font-size: 13px;
}
footer .wrap ul.fnb {
  grid-column: 1;
  grid-row: 1;
  transform: translateX(-10px);
  font-size: 14px;
}
footer .wrap ul.fnb li {
  
}
footer .wrap ul.fnb li a {
  
  color: white;
  display: block;
  padding: 5px 10px;
  position: relative;
}
footer .wrap ul.fnb li a::after{
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: -1px;
}
footer .wrap ul.fnb li:last-child a::after{
  display: none;
}
footer .wrap address {
  
  grid-column: 1;
  grid-row: 2;
  font-style: normal;
  line-height: 2;
  font-size: 14px;
}
footer .wrap address span {
  
}
footer .wrap p.mark {
  grid-column: 2;
  grid-row: 1 / span 3;
  background-image: url(../img/svg/wa_mark2024.svg);
  font-size: 0;
  background-size: contain;
  width: 118px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-right: 20px;
}
footer .wrap a.map {
  grid-column: 3;
  grid-row: 1 / span 3;
  background-size: contain;
  width: 100px;
  color: white;
}
footer .wrap a.map{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  line-height: 1.25;
  color: white;
  position: relative;
  width: 186px;
  height: 186px;
  background-color: #b4613d;
  border-radius: 50%;
  font-size: 19px;
}
footer .wrap a.map::before{
  content: "";
  background-image: url(../img/svg/icon_map.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}
footer .wrap a.map span{
  position: relative;
  z-index: 1;
}
footer .wrap a.map::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b4613d;
  border-radius: 50%;
}
footer .wrap a.map:hover::after{
  animation-name: applyfadeout2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes  applyfadeout2{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}
footer .wrap p.copyright {
  grid-column: 1;
  grid-row: 3;
  color: #b0acac;
  font-size: 16px;
}
