/* -------------태블릿---------------- */
@media screen and (max-width:1200px){

}/* -----------   1200 end  ---------- */

/* -------------모바일---------------- */
@media screen and (max-width:768px){
/* 타이틀 영역 */
 div#title{
    min-height: auto;
  }
  div#title div.wrap{
    padding: 0 !important;
  }
  div#title div.wrap ul.titleAni{
    border-radius: 0;  
  }
  .particle-network-animation{
    display: none;
  }
  /*  slick */
  #title .slick-prev{
    left: 25px;
    transform: translateY(-60px);
  }
  #title .slick-prev::before{
    width: 15px;
  }
  #title .slick-next{
    right: 25px;
    transform: translateY(-60px);
  }
  #title .slick-next::before{
    width: 15px;
  }
  #title .mouse-scroll .mouse{
    border-radius: 10px;
  }
  /* end */
  div#title ul.titleAni li.t h2{
    width: calc(480px * 0.5);
    height: calc(230px * 0.5);
  }
  div#title ul.titleAni li.t p{
    font-size: 14px;
    width: 80%;
  }
  div#title ul.titleAni li.t a{
    width: calc(180px * 0.6);
    height: calc(50px * 0.6);
    font-size: 14px;
  }
/*  introduce  */
  main .wrap{
    padding-left: 16px;
    padding-right: 16px;
  }
  #introduce div.wrap{
    display: block;
    padding-top: 70px;
  }
  #introduce .wrap > ul{
    display: block;
  }
  #introduce .wrap > ul > li{
    padding: calc(80px * 0.3);
    width: 100%;
    box-sizing: border-box;
  }
  #introduce .wrap > ul > li {
    border-radius: 10px !important;
  }
  #introduce .wrap > ul > li:nth-child(1){
    margin-bottom: 20px;
    border-radius: 20px;
  }
  #introduce .wrap > ul > li:nth-child(1)::after{
    width: calc(413px * 0.5);
    height: calc(207px * 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom-right-radius: 20px;
  }
  #introduce .wrap > ul > li:nth-child(1) > h3{
    margin-top: 10px;
    font-size: calc(28px * 0.8);
  }
  #introduce .wrap > ul > li:nth-child(1) > p{
    margin: 20px 0 50px;
    line-height: 1.4;
    font-size: 14px;
  }
  #introduce .wrap > ul > li:nth-child(1) > a{
    padding: 10px 40px 10px 30px;
    font-size: 14px;
  }
  #introduce .wrap > ul > li:nth-child(1) > a::after{
    top: 12px;
    right: 28px;
  }
  #introduce .wrap > ul > li:nth-child(2){
    gap: 10px;
    grid-template-columns: auto 1fr;
  }
  #introduce .wrap > ul > li:nth-child(2) > h3{
    font-size: calc(28px * 0.8);
    grid-column: 1 /span 2;
  }
  #introduce .wrap > ul > li:nth-child(2) > p{
    font-size: calc(32px * 0.6);
    grid-column: 1;
  }
  #introduce .wrap > ul > li:nth-child(2) > p::before{
    display: none;
  }
  #introduce .wrap > ul > li:nth-child(2) > a{
    grid-column: 2;
    padding: calc(15px * 0.8) calc(35px * 0.8);
  }
  #introduce .wrap > ul > li:nth-child(2) > ul{
    grid-column: 1 /span 2;
  }
  #introduce .wrap > ul > li ul li{
    grid-template-columns: auto 1fr;
  }
  #introduce .wrap > ul > li:nth-child(2) > ul li h4{
    width: 15.625vw;
    min-width: 70px;
    font-size: 16px;
    line-height: 1.3;
  }
  #introduce .wrap > ul > li:nth-child(2) > ul li p{
    font-size: 14px;
  }
  #introduce .wrap > ul > li:nth-child(2) > ul li p:nth-of-type(2){
    margin-left: 0;
  }
  #introduce .wrap > ul > li:nth-child(2) > ul li:nth-of-type(3) h4{
    letter-spacing: 1px;
  }
/*  news  */
  #news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #news div.wrap {
    display: block;
    padding: 50px 0;
  }
  #news div.wrap h2{
    padding: 0 42px;
    font-size: calc(84px * 0.3);
    margin-bottom: 10px;
    font-weight: 600;
  }
  #news div.wrap > p{
    font-size: 14px;
    padding: 0 43px;
  }
  #news div.wrap ul.newsAni{
   width: 100%;
  }
  #news div.wrap ul.newsAni li.newslist a{
    background-color: transparent;
  }
  #news div.wrap ul.newsAni li.newslist a figure img{
    width: calc(300px * 0.9);
    margin: 0 auto;
  }
  #news div.wrap ul.newsAni li.newslist a p{
    font-size: calc(16px * 0.9);
  }
  #news div.wrap .btn{
    display: none;
  }
  #news div.wrap ul.newsAni .slick-dots{
    bottom: 70px;
  }
  #news div.wrap ul.newsAni .slick-prev{
   left: 10px; 
  }
  #news div.wrap ul.newsAni .slick-prev::before{
   color:black;
  }
  #news div.wrap ul.newsAni .slick-next{
    left: 330px;
  }
  #news div.wrap ul.newsAni .slick-next::before{
    color:black;
  }
/*  guide  */
  #guide {
    margin-bottom: -125px;
  }
  #guide div.wrap{
    margin: 20px;
  }
  #guide div.wrap ul{
    width: 100%;
    border-radius: 40px;
    flex-direction: column;
  }
  #guide div.wrap ul li{
    width: 100%;
  }
  #guide div.wrap ul li:nth-child(1)::after{
    border-bottom: 1px solid #3aaca1;
    width: calc(100% - 20px);
    right: calc((100% - (100% - 20px)) / 2);
    border-right: initial;
    margin-top: 10px;
  }
  #guide div.wrap ul li a{
    padding: 30px;
  }
  #guide .wrap ul li:nth-child(1) a{
    background-size: 70px 70px;
    background-position: right;
  }
  #guide div.wrap ul li a h3{
    line-height: 1.3;
    font-size: calc(28px * 0.8);
  }
  #guide div.wrap ul li a p{
    line-height: 1.3;
    font-size: calc(16px * 0.9);
    width: 73%;
  }
  #guide .wrap ul li:nth-child(2) a{
    background-size: 70px 70px;
    background-position: right;
  }
}/* 768 end   */











